<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/post-create-style.css">
    <title>CreatePost</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Create Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div class="create-form">
         <form action="/posts/create" method="POST">
            <label id="title">Title</label>
				<input type="text" name="title" placeholder="Enter Title" 
				required
				aria-label="Text">
				<label id="link">Attached Link</label>
				<input type="url" name="link" placeholder="Enter Url" 
				required
				aria-label="Text">
				<label id="description">Description</label>
				<textarea type="text" name="description" placeholder="Enter Description" 
				required
				aria-label="Text"></textarea>
				<label id="subgroup">Subgroup</label>
				<input type="text" name="subgroup"
				required
				placeholder="Enter Subgroup"
				aria-label="Text"/>
				 <button type="submit">Create Post</button>	
         </form>
      </div>
     
    </main>
  </body>
</html>