<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/post-delete-confirm-style.css">
    <title>Homepage</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
         <h1>Confirmation Page</h1> 
         <% if (post) { %>
            <form action="/posts/delete/<%= post.id %>" method="POST">
               <p>Are you sure you want to remove this post?</p>
               <button type="submit">Yes</button>
					<div class="noBtn">
					<a href="/posts/show/<%= post.id%>">No</a>
					</div>              
            </form>
         <% } %>        
      </div>
      </main>
   </body>
   </html>